<h1>Avatar Index</h1>
<p><i>click on an avatar to see a larger version and options</i></p>

<p><%= link_to 'new avatar', new_avatar_path %></p>

<% @avatars.each do |avatar| %>
  <%= link_to (image_tag avatar.photo.url(:thumb)), avatar %>
<% end %>
