.overlapPrevention {
  padding-top: 40px;
}

.overlapPreventionShowEdit {
  padding-top: 80px;
}

a:hover {
  text-decoration: none;
}

.fadeIn {
  display: none;
}

.center {
  text-align: center;
}

.avatars {
  text-align: center;
}

.avatar {
  display: inline;
}

h1 {
  font-family: 'Sanchez';
}

p {
  font-family: 'Questrial';
}

.navbar-brand {
  font-family: 'Questrial';
}

