
<div class="image-gradient-dynamic">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
  <div class="overlay"></div>
    <div class="copy">
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1>Welcome to Avatarmanager</h1>
          <p>It's great to have you.</p>	
        </div>
        <%= button_to 'Enter', root_path, method: :get %>
      </div>
    </div>
  </div>
</div>

