<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'AvatarManager', avatars_path, class: 'navbar-brand' %>
    </div>
</nav>
